</html>

<header>
    <nav>
        <div class="nav-logo-text-container">   
            <div class="logo">
               <a href="index"><img src="Images\logomini.png" alt="small naturedopes logo" aria-label="Nature Dopes logo" ></a>
     
             </div>
             <div class="logotext">
                 <h2>Nature Dopes</h2>
     
             </div>
        </div>  
        <div class="navitems">
                <ul class="navlinks">
                    <li class="links"><a href="index">Home</a></li>
                    <li class="links"><a href="gallery">Gallery</a></li>
                    <li class="links"><a href="index#about" onclick="displayAbout()">About</a></li>
                    <li class="links"><a href="index#Social-links" onclick="displayAbout()">Links</a></li>
                    <li class="links"><a href="maplogin">Map</a></li>
                    
                </ul>
        </div>

    </nav>
</header>