<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="CSS\reset.css">
    <link rel="stylesheet" href="CSS\style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Genos&amp;display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
    
    <script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
    <link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />

</head>

<body>

<header>
    <nav>
        <div class="nav-logo-text-container">   
            <div class="logo">
               <a href="index"><img src="Images\logomini.png" alt="small naturedopes logo" aria-label="Nature Dopes logo" ></a>
     
             </div>
             <div class="logotext">
                 <h2>Nature Dopes</h2>
     
             </div>
        </div>  
        <div class="navitems">
                <ul class="navlinks">
                    <li class="links"><a href="index">Home</a></li>
                    <li class="links"><a href="gallery">Gallery</a></li>
                    <li class="links"><a href="index#about" onclick="displayAbout()">About</a></li>
                    <li class="links"><a href="index#Social-links" onclick="displayAbout()">Links</a></li>
                    <li class="links"><a href="maplogin">Map</a></li>
                    <li class="links"><a href="nft">NFT</a></li>
                </ul>
        </div>

    </nav>
</header>

<main>
    
    <div class="gallery-title">
        <h1>Gallery</h1>

    </div>

    


    <section class="gallery">
        <ul class="juicer-feed" data-feed-id="nature-dopes" data-origin="embed-code" data-per="9">
            <h1 class="referral">
                <!--<a href="https://www.juicer.io">Powered by</a>-->
            </h1>
        </ul>  
        

       <!-- <div class="gallery-item">
            <div class="piccontainer">
                <img class="flowerfeature" src="Images\Chicory.jpg" alt="Picture of a blue Chicory flower">
            </div>
            <div class="flowerinfo">
                <h2 class="sciname">Chicorium Intybus</h2>
                <h3 class="common"> Chicory</h3>
                <p class="info"></p>
            </div>
        </div>

        <div class="gallery-item">
            <div class="piccontainer">
                <img class="flowerfeature" src="Images\Globethistle.jpg" alt="Picture of a Globethistle">
            </div>
            <div class="flowerinfo">
                <h2 class="sciname">Echinops Ritro</h2>
                <h3 class="common">Globethistle</h3>
                <p class="info"></p>
            </div>
        </div>

        <div class="gallery-item">
            <div class="piccontainer">
                <img class="flowerfeature" src="Images\lucerne.jpg" alt="Picture of a lucerne flower aka alfalfa">
            </div>
            <div class="flowerinfo">
                <h2 class="sciname">Medicago Sativa</h2>
                <h3 class="common">Lucerne</h3>
                <p class="info"></p>
            </div>
        </div>

        <div class="gallery-item">
            <div class="piccontainer">
                <img class="flowerfeature" src="Images\Evening-primrose.jpg" alt="Picture of a Evening-primrose flower">
            </div>
            <div class="flowerinfo">
                <h2 class="sciname"></h2>
                <h3 class="common">Evening-primrose</h3>
                <p class="info"></p>
            </div>
        </div>

        <div class="gallery-item">
            <div class="piccontainer">
                <img class="flowerfeature" src="Images\Meadowsweet.jpg" alt="Picture of a Bellflower">
            </div>
            <div class="flowerinfo">
                <h2 class="sciname"></h2>
                <h3 class="common">Bellflower</h3>
                <p class="info"></p>
            </div>
        </div>

        <div class="gallery-item">
            <div class="piccontainer">
                <img class="flowerfeature" src="Images\Meadowsweet.jpg" alt="Picture of a bunch of Meadowsweet">
            </div>
            <div class="flowerinfo">
                <h2 class="sciname"></h2>
                <h3 class="common">Meadowsweet</h3>
                <p class="info"></p>
            </div>
        </div>
-->
    </section>

    
</main>

<footer>

    <section class="siteDetails">
        <h4>Application constructed & maintained by <a class="wattsLink" href="https://awattsdev.eu/" target="_blank">awattsdev</a> full stack applications.

        </h4>
    </section>

</footer>






</body>
</html>