<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="CSS\reset.css">
    <link rel="stylesheet" href="CSS\style.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet"> 

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
    <script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
    <link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body>

<header>
    <nav>
        <div class="logo">
            <img src="Images\logomini.png" alt="small naturedopes logo">

        </div>
        <div class="logotext">
            <h2>Nature Dopes</h2>

        </div>
        
        <div class="navitems">
                <ul class="navlinks">
                    <li class="links"><a href="index.html">Home</a></li>
                    <li class="links"><a href="gallery.html">Gallery</a></li>
                    <li class="links">About</li>
                    <li class="links">Links</li>
                    <li class="links"><a href="maplogin.html">Map</a></li>
                    <li class="links"><a href="nft.html">NFT</a></li>
                </ul>
        </div>

    </nav>
</header>

<main>
    <div class="banner">
        <div class="welcome">
            <h1>Nature Dopes</h1>
            <br>
            <h2>Dedicated to the Appreciation and Understanding of Natural Flora </h2>
        </div>

    </div>
   
    <section class="about">
        <h1 class="about-title">About</h1>
        <div class="slide-wrapper">
              
            <p class="slide">Welcome to Naturedopes. We are based in Western Europe so the majority of resources found here relate to the natural Flora found in this region and the appreciation of them. No matter where you stand on Climate issues,
            few can argue that as our civilisation expands, our natural spaces are diminishing to make room. Be that in the form of fields for modern agriculture, logging practices or land for new homes.
            More need's to be done to protect our natural spaces. The more we lose the more species we lose with it, which heightens the risk of further environmental breakdown in the future.
            Declining Bee numbers are a testament to this. On this site, we believe that for people to appreciate nature, then first you have to understand it. Be that the tallest tree outside your window, or the smallest flower at the side of the road.
            This site is a blend of art & education, flower's and tree's are indentified in all our posts. In the hope that a working knowledge of all species can be passed on to whoever wishes to learn.   </p>
        </div>
    </section>

    <hr>

    <div class="feature-title">
        <h1>Recent Images</h1>
    </div>
    
    <section class="recent">

        <div class="feature">
            <div class="piccontainer">
                <img class="flowerfeature" src="Images\Globethistle.jpg" alt="Picture of a Globethistle">
            </div>
            <div class="flowerinfo">
                <h2 class="sciname">Echinops Ritro</h2>
                <h3 class="common">Globethistle</h3>
                <p class="info"></p>
            </div>
        </div>

        <div class="feature">
            <div class="flowerinfo-inside">
            <h1> Please visit the Gallery page to see our full portfolio</h1>
            </div>
        </div>

        <div class="feature">
            <div class="piccontainer">
                <img class="flowerfeature" src="Images\Chicory.jpg" alt="Picture of a blue Chicory flower">
            </div>
            <div class="flowerinfo">
                <h2 class="sciname">Chicorium Intybus</h2>
                <h3 class="common"> Chicory</h3>
                <p class="info"></p>
            </div>
        </div>
        
<!--
        

        

        <div class="feature">
            <div class="piccontainer">
                <img class="flowerfeature" src="Images\lucerne.jpg" alt="Picture of a lucerne flower aka alfalfa">
            </div>
            <div class="flowerinfo">
                <h2 class="sciname">Medicago Sativa</h2>
                <h3 class="common">Lucerne</h3>
                <p class="info"></p>
            </div>
        </div>
-->     
   
    
    </section>

    <section class="Social-links">
        <div class="socialmedia-title">
            <H1> Social Media & Links</H1>
        </div>
        <div class="social-logos">
            <img class="social" src="Images\Instagram_Glyph_Black.jpg" alt="Instagram Logo">
            <img class="social" src="Images\2021 Twitter logo - blue.png" alt="Twitter logo">
            <img class="social" src="Images\OpenSea-Full-Logo (dark).png" alt="Opensea Logo">
        </div>
    </section>
</main>

<footer>


</footer>






</body>
</html>