<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nature dopes</title>
    <meta charset="UTF-8">
    <meta name="Description" content="Dedicated to the understanding and appreciation of Nature" >
    <meta name="Keywords" content="Nature, wild flowers, nature photography, art">
    <meta name="Author" content="Awattsdev"> 
   
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="CSS\reset.css">
    <link rel="stylesheet" href="CSS\style.css">

    <link rel=“canonical” href=“https://www.naturedopes.com”>
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Genos&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 


   
</head>



<body>



<main>
    <div id='banner' class="banner" >
        <div class="welcome">
            <h1>Nature Dopes</h1>
            <br>
            <h2>New Website Coming Soon... </h2>
        </div>

    </div>
   
</main>






<script src="./views-js/indexjs.js"></script>

</body>
</html>