<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="CSS\reset.css">
    <link rel="stylesheet" href="CSS\style.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Genos&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
   
</head>

<%- include('./partials/header') %>

<body>



<main>
    <div id='banner' class="banner" onwheel="displayAbout()" ontouchmove="displayAbout()" >
        <div class="welcome">
            <h1>Nature Dopes</h1>
            <br>
            <h2>Dedicated to the Appreciation and Understanding of Natural Flora </h2>
        </div>

    </div>
   
    <section id="about"  class="about" onwheel="displayAbout()" ontouchmove="displayAbout()" >
        <h1 class="about-title">About</h1>
        <article class="slide-wrapper_1" >
              
            <p id="slide_1" class="slide_1" >Welcome to Naturedopes. We are based in Western Europe so the majority of resources found here relate to the natural Flora found in this region and the appreciation of them. <br><br> No matter where you stand on Climate issues,
            few can argue that as our civilisation expands, our natural spaces are diminishing to make room. Be that in the form of fields for modern agriculture, logging practices or land for new homes.
            More needs to be done to protect our natural spaces. The more space we lose the more species we lose with it. <br><br> On this site, we believe that for people to appreciate nature, then first you have to understand it. Be that the tallest tree outside your window, or the smallest flower at the side of the road.
            This site is a mix of art & education, flowers and trees are identified in all our posts. In the hope that a working knowledge of all species can be passed on to whoever wishes to learn.   </p>
        
        </article>
        <article class="slide-wrapper_2">
            <p id="slide_2" class="slide_2">
             This site features a Gallery page, a collection of photos of flowers & trees found growing in nature. It's linked directly to our instagram account and is updated regularly. <br><br> There is a Map page, the aim is to allow users to create an account and then post photos of their own finds and their locations. 
             The information will be stored in order to build a working database of where wildflowers & trees are found. The map tool is still in beta testing so please visit the page and test it out. 
             <br><br>There are links to our other social media activities and an email address to contact us directly. Please come and enjoy the site.      
            </p>
        </article>

       

    </section>

    <hr>

    <div class="feature-title">
        <h1>Recent Images</h1>
    </div>
    
    <section class="recent">

        <div class="feature">
            <div class="piccontainer">
                <a href="gallery"><img class="flowerfeature" src="Images\Globethistle.jpg" alt="Picture of a Globethistle"></a>
            </div>
            <div class="flowerinfo">
                <h2 class="sciname">Echinops Ritro</h2>
                <h3 class="common">Globethistle</h3>
                <p class="info"></p>
            </div>
        </div>

        <div class="feature">
            <div class="flowerinfo-inside">
            <h1> Please visit the Gallery page to see our full portfolio</h1>
            </div>
        </div>

        <div class="feature">
            <div class="piccontainer">
                <a href="gallery"><img class="flowerfeature" src="Images\Chicory.jpg" alt="Picture of a blue Chicory flower"></a>
            </div>
            <div class="flowerinfo">
                <h2 class="sciname">Chicorium Intybus</h2>
                <h3 class="common"> Chicory</h3>
                <p class="info"></p>
            </div>
        </div>
   
    
    </section>

    <section id="Social-links" class="Social-links">
        <div class="socialmedia-title">
            <H1> Social Media & Links</H1>
        </div>
        <div class="social-logos">
            <a href="https://www.instagram.com/naturedopes/" target="_blank"><img class="social" src="Images\Instagram_Glyph_Black.jpg" alt="Instagram Logo"></a>
            <a href="https://twitter.com/DopesNature" target="_blank"> <img class="social" src="Images\2021 Twitter logo - blue.png" alt="Twitter logo"></a>
            
            <img id='email-logo' class="social" src="Images/email_logo.png" alt="Email Logo">
            
        </div>

        <aside id="email-contact">
                <p>naturedopes@gmx.fr</p>                         
        </aside>
    </section>
</main>

<%- include('./partials/footer') %>




<script src="./views-js/indexjs.js"></script>

</body>
</html>