<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="CSS/reset.css">
    <link rel="stylesheet" href="CSS/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet"> 

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
    
    
        
   
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
</head>

<body>

<header>
    <nav>
        <div class="logo">
            <img src="Images\logomini.png" alt="small naturedopes logo">

        </div>
        <div class="logotext">
            <h2>Nature Dopes</h2>

        </div>
        <div class="navitems">
                <ul class="navlinks">
                    <li class="links"><a href="index.html">Home</a></li>
                    <li class="links"><a href="gallery.html">Gallery</a></li>
                    <li class="links">About</li>
                    <li class="links">Links</li>
                    <li class="links"><a href="maplogin.html">Map</a></li>
                    <li class="links"><a href="nft.html">NFT</a></li>
                </ul>
        </div>

    </nav>
</header>

<main>

    <h1 id="screen-warning"></h1>
    
    <script>
    
    
    let message = 'Please Rotate Device for mobiles';
    
    function resizeMessage(){    
    
        let w = window.innerWidth;
        if(w < 500){
        document.getElementById('screen-warning').innerHTML = message;
        
        } else {
        document.getElementById('screen-warning').innerHTML = '';
        }
           
        }
    window.onresize = resizeMessage    
    console.log(window.innerWidth);

    </script>



    <section class="map-overlay">

        <div id='map' alt="awaiting map, please wait">
           
        </div>
        
       
            
        <form class="map-form">
                <h2 class="map-h2">Welcome to our Map page</h2>
                <p class="map-aside-test"> This is currently a work in progress but please feel free to come and test.</p>
                
                <p class="map-aside">Please enter the grid coordinates of your find below, 
                    A marker will appear on the map. Currently this marker will disappear once you refresh the browser  </p>
                 
                <label class="map-label" for="species-name">Enter the name of your find</label>
                <input  class="map-input" name="species-name" id="species-name" type="text">

                <label class="map-label" for="firstRef">Enter First Grid Reference</label>
                <input class="map-input"  name="firstRef" id="firstRef" type="number">
                
                <label class="map-label" for="secondRef">Enter Second Grid Reference</label>
                <input class="map-input" name="secondRef" id="secondRef" type="number">
                <div class="button div">
                <button id="map-button" class="map-button" type="button" onclick="newMark()">Add</button>
                <div id="radom"></div>
            </div>
            </form>
          
        
    </section>
    <script src='apireq.js'></script>
    <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
   
   
   <script>
        
        
         
        let map = new maplibregl.Map({
        container: 'map',
        style: 'https://api.maptiler.com/maps/streets/style.json?key=PSMy7BMmV1X1YJoVOzD1 ', // stylesheet location
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 1 // starting zoom
            
        }); 

      async function newMark(){
        
        let imageThumb = document.getElementById('imageThumb');
        let speciesName = document.getElementById('species-name').value; 
        let firstRef = document.getElementById("firstRef").value;
        let secondRef = document.getElementById("secondRef").value;
        var marker = new maplibregl.Marker()
            .setLngLat([firstRef, secondRef])
            .setPopup(new maplibregl.Popup().setHTML(speciesName))
            .addTo(map);
        changeColor();
        
        
      }

      function changeColor(){
        let change = document.getElementById("map-button" );
        change.style.color = "red";
      }

    
        //console.log(newMarker);
    


       
    </script>
 
    <section class="aboutmap">
    
        <p>One of the goals of Nature Dopes is to build up a log of where wild flowers are found. Sure we don't need to log a Dandelion (as valuable as they are!) every time we find one. 
            But there are many genres of flowers which are much less common and becoming even more rare due to degradation of their natural environments. 
            With that, the knowledge and appreciation of these flowers disappears too. We would like users to input their finds onto the map to build up a working knowledge of where communities of such flowers are found.  </p>

    </section>

</main>

<footer>


</footer>


</body>
</html>