<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="CSS/reset.css">
    <link rel="stylesheet" href="CSS/style.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Genos&amp;display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
    

    <script src='https://unpkg.com/maplibre-gl@3.0.1/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@3.0.1/dist/maplibre-gl.css' rel='stylesheet' />   
   
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
</head>

<body>

<header>
    <nav>
        <div class="nav-logo-text-container">   
            <div class="logo">
               <a href="index"><img src="Images\logomini.png" alt="small naturedopes logo" aria-label="Nature Dopes logo" ></a>
     
             </div>
             <div class="logotext">
                 <h2>Nature Dopes</h2>
     
             </div>
        </div>  
        <div class="navitems">
                <ul class="navlinks">
                    <li class="links"><a href="index">Home</a></li>
                    <li class="links"><a href="gallery">Gallery</a></li>
                    <li class="links"><a href="index#about" onclick="displayAbout()">About</a></li>
                    <li class="links"><a href="index#Social-links" onclick="displayAbout()">Links</a></li>
                    <li class="links"><a href="maplogin">Map</a></li>
                    <li class="links"><a href="nft">NFT</a></li>
                </ul>
        </div>

    </nav>
</header>

<main>
   
   <section class="map-header">
    <h2 class="map-h2">Welcome to our Map page</h2>
    <p class="map-aside-test"> This is currently a work in progress but please feel free to come and test.</p>

    <h1 id="screen-warning"></h1>
   </section>  
    
    <script>
    
    
    let message = 'Please Rotate Device for mobiles';
    
    function resizeMessage(){    
    
        let w = window.innerWidth;
        if(w < 500){
        document.getElementById('screen-warning').innerHTML = message;
        
        } else {
        document.getElementById('screen-warning').innerHTML = '';
        }
           
        }
    window.onresize = resizeMessage    
    console.log(window.innerWidth);

    </script>



    <section class="map-overlay">

        <div id='map' alt="awaiting map, please wait"></div>
            <script>
        
        
         
                let map = new maplibregl.Map({
                container: 'map',
                style: 'https://api.maptiler.com/maps/streets/style.json?key=CMRIccwlZz6zI6QR2E5I ', // stylesheet location
                center: [0, 46], // starting position [lng, lat]
                zoom: 1 // starting zoom
                    
                }); 
        
                function newMark(){
                
                let imageThumb = document.getElementById('imageThumb');
                let speciesName = document.getElementById('speciesName').value; 
                let firstRef = document.getElementById("firstRef").value;
                let secondRef = document.getElementById("secondRef").value;
                var marker = new maplibregl.Marker({
                    color: '#5B9240',
                    scale: 1,
                })
                    .setLngLat([firstRef, secondRef])
                    .setPopup(new maplibregl.Popup().setHTML(speciesName))
                    .addTo(map);
                changeColor();
                console.log(firstRef, secondRef);
                
                
              }
        
        
              map.on('click', function (d) {
             
                let pos = d.lngLat;
                
                let firstRef = pos.lng
                console.log(firstRef);
                let secondRef = pos.lat
                
                document.getElementById("firstRef").value = firstRef;
                document.getElementById("secondRef").value = secondRef
                
              });
            
            
        
              /*map.on('mousemove', function (e) {
               
                document.getElementById('info').innerHTML =
                    // e.point is the x, y coordinates of the mousemove event relative
                    // to the top-left corner of the map
                JSON.stringify(e.point) +
                '<br />' +
                // e.lngLat is the longitude, latitude geographical position of the event
                JSON.stringify(e.lngLat);
                });
            
             */
            
            
                
                    
        
        
               
            </script>
        
        
        <aside class="mapSideBar">

            <div class="map-aside-header">
                <aside>
                    <h2 class="map-h2">Guide</h2>
                    <div id='map_aside_info_logo'>
                        <img class="map_aside_info_logo"  src="Images/circle_customer_help_info_information_service_support_icon_123208.png">
                    </div>
                        <article class="map_aside_info_box">
                       <h3>Map instructions </h3>
                       <p> -Use the mouse wheel to zoom in and out of the map</p>
                       <p> -Clicking anywhere on the map will add that position as grid references onto the form below</p>
                       <p> -Clicking on a marker will reveal further information</p> 
                        </article>
                
                    
                </aside>    
                <form class="logout-box" method="post" action="/logout">
                    <button type="submit">Logout</button>
    
                </form>
            </div>

           

            <form class="map-form" action="/markerlist" method="post" enctype="multipart/form-data">
                 
                
                <p class="map-aside"><span class='map-decor'>1 -</span> Please enter the name of the species that you have found <br><br>
                    <span class='map-decor'>2 -</span> Then zoom in on the map to where you found it (try to be as accurate as possible). Click the location where and the grid references will fill in for you. <br><br> 
                    <span class='map-decor'>3 -</span> Then click the browse button and upload your photo (this is currently an optional step).<br><br>
                    <span class='map-decor'>4 -</span> Click 'Add record' and your find will be added to our logs.
                </p>
                <hr>
                <label class="map-label" for="speciesName">Enter the name of your find</label>
                <input  class="map-input" name="speciesName" id="speciesName" type="text" required>

                <label class="map-label" for="firstRef">Enter Longditude</label>
                <input class="map-input"  name="firstRef" id="firstRef" type="text" required>
                
                <label class="map-label" for="secondRef">Enter Latitude</label>
                <input class="map-input" name="secondRef" id="secondRef" type="text" required>
                
                <label class="map-label" for="upload">Please upload you image here</label>
                <input type="file" id="upload" name="upload" accept= "image/jpg, image/png, image/jpeg" >
                
                <div class="map_aside_button_div">
                <button id="map-button" class="map-button" type="submit" onclick="newMark()">Add record</button>
                <button id="populateMarkers_button" class="map-button" type="button" >Populate</button>
                </div>
                <aside id="info">


                </aside>   
            
            </form> 
            
        </aside>
            
            
        
        

          
        
    </section>
    
   

 
    <section class="aboutmap">
    
        <p>One of the goals of Nature Dopes is to build up a log of where wild flowers are found. Sure we don't need to log a Dandelion (as valuable as they are!) every time we find one. 
            But there are many genres of flowers which are much less common and becoming even more rare due to degradation of their natural environments. 
            With that, the knowledge and appreciation of these flowers disappears too. We would like users to input their finds onto the map to build up a working knowledge of where communities of such flowers are found.  </p>

    </section>

</main>

<footer>

    <section class="siteDetails">
        <h4>Application constructed & maintained by <a class="wattsLink" href="https://awattsdev.eu/" target="_blank">awattsdev</a> full stack applications.

        </h4>
    </section>

</footer>

<script src='apireq.js'>
                
    
</script>
</body>
</html>