<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="CSS\reset.css">
    <link rel="stylesheet" href="CSS\style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet"> 

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
    
   
    
        
   
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
</head>

<body>

<header>
    <nav>
        <div class="logo">
            <img src="Images\logomini.png" alt="small naturedopes logo">

        </div>
        <div class="logotext">
            <h2>Nature Dopes</h2>

        </div>
        <div class="navitems">
                <ul class="navlinks">
                    <li class="links"><a href="index.html">Home</a></li>
                    <li class="links"><a href="gallery.html">Gallery</a></li>
                    <li class="links">About</li>
                    <li class="links">Links</li>
                    <li class="links"><a href="maplogin">Map</a></li>
                    <li class="links"><a href="nft.html">NFT</a></li>
                </ul>
        </div>

    </nav>
</header>

<main>

  <section class="aboutmap">
    
    <p>One of the goals of Nature Dopes is to build up a log of where wild flowers are found. Sure we don't need to log a Dandelion (as valuable as they are!) every time we find one. 
        But there are many genres of flowers which are much less common and becoming even more rare due to degradation of their natural environments. 
        With that, the knowledge and appreciation of these flowers disappears too. We would like users to input their finds onto the map to build up a working knowledge of where communities of such flowers are found.  </p>

  </section>

    <h1 id="screen-warning"></h1>
    
    <script>
    let message = 'Please Rotate Device for mobiles';
    
    function resizeMessage(){    
    
        let w = window.innerWidth;
        if(w < 500){
        document.getElementById('screen-warning').innerHTML = message;
        
        } else {
        document.getElementById('screen-warning').innerHTML = '';
        }
           
        }
    window.onresize = resizeMessage    
    console.log(window.innerWidth);
    
    

    </script>



    <section class="map-overlay">

        <div id='map' alt="awaiting map, please wait">
           
        </div>
        
       
        <aside class="mapSideBar">  
          
          <div class="mapAsideMsg">
            <p> Please login or Register to access our Map section</p>
          </div> 
            
            <button onclick="document.getElementById('id01').style.display='block'" class="loginButton">Login</button>
            <button onclick="document.getElementById('id02').style.display='block'" class="registerButton">Register</button>
          

          <!-- The Modal id01 ---------------------------------------------------->
          <div id="id01" name="Login View" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'"
          class="close" title="Close Modal">&times;</span>
          
            <!-- Modal Content -->
            <form class="modal-content animate" id="register_button" method="post" >
              <div class="imgcontainer">
                <img src="images/logomini.png" alt="Avatar" class="avatar">
              </div>
          
              <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" id='username' placeholder="Enter Username" name="username" required>

                  

                <label for="password"><b>Password</b></label>
                <input type="password" id='password' placeholder="Enter Password" name="password" required>
          
              <div class="buttonDiv">
                  <button class='loginButton' type="submit" formaction="/maplogin">Login</button>
                 
              </div>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
              </div>
      
          
              <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="reset-password-email.html">password?</a></span>
              </div>
            </form>
          </div>

          <!--------------------Register Modal id02-------------------------------------->

          <div id="id02" name="Register view" class="modal">
            <span onclick="document.getElementById('id02').style.display='none'"
          class="close" title="Close Modal">&times;</span>
          
            <!-- Modal Content -->
            <form class="modal-content animate" id="register_button" method="post" >
              <div class="imgcontainer">
                <img src="images/logomini.png" alt="Avatar" class="avatar">
              </div>
          
              <div class="container">
                <label for="username"><b>Username</b></label>
                <input type="text" id='username' placeholder="Enter Username" name="username" required>

                <label for="email"><b>Email</b></label>
                <input type="text" id="email" placeholder="Enter email address" name="email" required>

                <label for="password"><b>Password</b></label>
                <input type="password" id='password' placeholder="Enter Password" name="password" required>
          
              <div class="buttonDiv">
                  
                  <button class='registerButton' type="submit" id="register_button" formaction="/register" >Register</button>
              </div>
                <label>
                  <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
              </div>
      
          
              <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="reset-password-email.html">password?</a></span>
              </div>
            </form>
          </div>
             
        </aside>
          
        
    </section>
    
    <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
   
    
   <script>
        
        
         
        let map = new maplibregl.Map({
        container: 'map',
        style: 'https://api.maptiler.com/maps/streets/style.json?key=CMRIccwlZz6zI6QR2E5I ', // stylesheet location
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 1 // starting zoom
            
        }); 

      


        //console.log(newMarker);
    


       
    </script>
 
   

</main>



<footer>


</footer>

<script src="apireq.js"></script>
</body>
</html>