<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="CSS\reset.css">
    <link rel="stylesheet" href="CSS\style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Genos&amp;display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 


</head>

<body>

<header>
    <nav>
        <div class="logo">
            <a href="index"><img src="Images\logomini.png" alt="small naturedopes logo" aria-label="Nature Dopes logo" ></a>
        </div>
        <div class="logotext">
            <h2>Nature Dopes</h2>

        </div>
        <div class="navitems">
                <ul class="navlinks">
                    <li class="links"><a href="index">Home</a></li>
                    <li class="links"><a href="gallery">Gallery</a></li>
                    <li class="links"><a href="index#about" onclick="displayAbout()">About</a></li>
                    <li class="links"><a href="index#Social-links" onclick="displayAbout()">Links</a></li>
                    <li class="links"><a href="maplogin">Map</a></li>
                    <li class="links"><a href="nft">NFT</a></li>
                </ul>
        </div>

    </nav>
</header>

<main>
    <div class ="nftbanner">
    <section class="nft_intro">

        <div class="nftheader">
            <h1> Welcome to the Nature Dopes nft space</h1>

        </div>
        <div class="nft_about">
            <h2 id="nfth2">What are Nft's?</h2>
            <h2>NFT stands for 'Non Funigble Token' which represents a unique and unmutable token written onto a blockchain. In the case of Nature Dopes, Several digital art pieces have been created of our favorite flowers. Please check some of them out below</h2>

        </div>
    

    </section>
    </div>

    <section class="nftgallery">
        <div class="gallery-item">
            <div class="piccontainer">
                <img class="nftflowerfeature" src="Images\Bistorta.jpg" alt="nft of Bistorta">
            </div>
            
        </div>
        <div class="gallery-item">
            <div class="piccontainer">
                <img class="nftflowerfeature" src="Images\Ipomoea.jpg" alt="nft of Ipomoea">
            </div>
            
        </div>
        <div class="gallery-item">
            <div class="piccontainer">
                <img class="nftflowerfeature" src="Images\Saponaria.jpg" alt="nft of Soapwort">
            </div>
            
        </div>



    </section>

    
</main>

<footer>

    <section class="siteDetails">
        <h4>Application constructed & maintained by <a class="wattsLink" href="https://awattsdev.eu/" target="_blank">awattsdev</a> full stack applications.

        </h4>
    </section>

</footer>






</body>
</html>