<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="CSS/reset.css">
    <link rel="stylesheet" href="CSS/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet"> 

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
    
    
        
   
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
</head>

<body>

    
<header>
    <nav>
        <div class="logo">
            <img src="Images\logomini.png" alt="small naturedopes logo">

        </div>
        <div class="logotext">
            <h2>Nature Dopes</h2>

        </div>
        <div class="navitems">
                <ul class="navlinks">
                    <li class="links"><a href="index">Home</a></li>
                    <li class="links"><a href="gallery">Gallery</a></li>
                    <li class="links"><a href="#about" onclick="displayAbout()">About</a></li>
                    <li class="links"><a href="#Social-links" onclick="displayAbout()">Links</a></li>
                    <li class="links"><a href="maplogin">Map</a></li>
                    <li class="links"><a href="nft">NFT</a></li>
                </ul>
        </div>

    </nav>
</header>

<main>
    <article id="postReponse_reset-password-email">
        <p id="postReponse_reset-password-email-p"></p>
    </article>


    <form id="reset-password-email-input"  method="post" >
        <label for="email-input">Please enter the email address that you used to register with Nature dopes</label>
        <input name="email" id="reset-email-input" type="text">

        <button id='reset-password-email-input-button' type="button" onclick="">Submit</button>
    </form>



</main>

<footer>


</footer>

<script src='apireq.js'>

    
</script>
</body>
</html>