<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="CSS/reset.css">
    <link rel="stylesheet" href="CSS/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet"> 

    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
    
    
        
   
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
</head>

<body>

<header>
    <nav>
        <div class="logo">
            <img src="Images\logomini.png" alt="small naturedopes logo">

        </div>
        <div class="logotext">
            <h2>Nature Dopes</h2>

        </div>
        <div class="navitems">
                <ul class="navlinks">
                    <li class="links"><a href="index.html">Home</a></li>
                    <li class="links"><a href="gallery.html">Gallery</a></li>
                    <li class="links">About</li>
                    <li class="links">Links</li>
                    <li class="links"><a href="maplogin">Map</a></li>
                    <li class="links"><a href="nft.html">NFT</a></li>
                </ul>
        </div>

    </nav>
</header>

<main>

<form id="reset-password-email-input" action="/reset-password-email" method="post" >
    <label for="email-input">Please enter email address that you used to register with Nature dopes</label>
    <input name="email" id="email" type="text">

    <button type="submit">Submit</button>
</form>



</main>

<footer>


</footer>

<script src='apireq.js'>

    
</script>
</body>
</html>