/*Nav bar css*/

nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.logo{
    width: auto;
    display: flex;
    /* margin-right: auto; */
}


.logotext{
    font-family: 'Indie Flower', cursive;
    font-size: 1.2em;
    font-weight: 800;
    color: #5B9240;
    display: block;
    margin-right: auto;
    float: left;

}

.navitems{
    float: right;
    margin-left: auto;
    margin-right: 12%;
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
}

.navlinks{
    display: flex;
    justify-content: space-between;
}

.links{
    padding: 0% 4%;
    font-family: 'Figtree', sans-serif;
    font-weight: 800;


}

.links:hover{
    color: #5B9240;
}

links:active{
    color: #cdfcb6;
}

links:visited{
    color: inherit;
}

.links a:hover{
    color: #5B9240;
}

links a:active{
    color: #cdfcb6;
}

links a:visited{
    color: inherit;
}

/*Banner on homepage & NFT page (index.html & nft.html) css*/

.banner, .nftbanner{
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before{
    
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url("johann-siemens-EPy0gBJzzZU-unsplash.jpg");
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.7;
}


.nftbanner::before{
    width: 100%;
    height: 600px;
    background-size: contain; 
    background-image: url("Campanula.jpg");
    content: "";
    position: absolute;
    opacity: 0.2;

}

.welcome{

    position: relative;
    height: auto;
    padding: 6% 3%;
    background-color: transparent;

/*background: radial-gradient(#5B9240, #E7EBE8);*/

/*background-image: url("master\ new\ alt\ 1.jpg");*/
    opacity: 1;
    text-align: center;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 55%;
}



.welcome h1, .nft_intro h1{
    font-size: 4rem;
    color: #5B9240;
    font-weight: 800;
    text-shadow: 3px 3px 2px #eff7f2 ;
    font-family: 'Indie Flower', cursive;
}

.welcome h2, .nft_intro h2{
    font-size: 2rem;
    color: #5B9240;
    font-weight: 500;
    font-family: 'Indie Flower', cursive;
}

.nft_intro h3{

    color: #5B9240;
    font-weight: 500;
    font-family: 'Indie Flower', cursive;
}


/* Juicer Feed CSS */


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cdeebc;
}


.recent{
    
    width: 1000px;
    display: flex;
    justify-content: space-between;
    background-color: #a4e98200;
    
}

.about{
    margin-top: 2em;
    margin-bottom: 1em;;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.about p{
    font-family: 'Figtree', sans-serif;
    color: #5B9240;
    font-weight: 800;
    padding: 3% 3% 3% 0%;
    
    background-color: #ffffff;
    line-height: 1.2;
    
}

.slide-wrapper_1, .slide-wrapper_2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%;
    height: 35%px;
    
    background-color: #ffffff ;
    border-radius: 5%;
}

.slide-wrapper_1{
    left: -20%;
}

.slide-wrapper_2{
    margin-top: 3%;
    right: -20%
}

.slide_1, .slide_2{
    width: 85%;
}

.slide_1{
    transform: translateX(-100rem);
}

.slide_2{
    transform: translateX(100rem);
}

.slide_1.left{
    
    transform: translateX(0rem);
    transition: 1s;
}

.slide_2.right{
    transform: translateX(0rem);
    transition: 2s;
}
/*.slide-wrapper:hover .slide{
    transition: 1s;
    right: 0; /* SET THE SLIDER TO BE 0 */


.feature-title{
    padding-top: 2rem;
    border-top: 2px solid #5B9240;
}

.feature-title, .about-title, .gallery-title{
    font-size: 3rem;
    font-family: 'Indie Flower', cursive;
    color: #5B9240;
    
    
}

.about-title{
    padding-bottom: 2%;
    
}

.feature{
    margin-top: 0.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem; 
    padding-bottom: 0.5rem;
    background-color: #eff7f2;
}

.piccontainer{
   margin-bottom: .3rem;
}

.flowerfeature{
    width: 270px;    
    height: 300px;
    border: 1px solid #5B9240;
    box-shadow: 1px 2px 2px #265011;

}

.flowerinfo {
    font-family: 'Indie Flower', cursive; 
    background-color: #eff7f2;
}

.flowerinfo-inside{
    font-family: 'Indie Flower', cursive;
    padding: 10%;
    
    font-size: 2.5rem;
    background-color: #cdeebc;
    text-align: center;
    height: 100%;
}

/* gallery.html css */

.gallery-title{
    margin-top: 2%;
}

.gallery, .nftgallery{
    margin-top: 1.2rem;
    width: 80%;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: auto; */
    display: flex;
    justify-content: space-around;
}

.gallery-item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nftflowerfeature:hover, .flowerfeature:hover {
    border-right: 2px solid #3bbcf0;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #3bbcf0;;
    box-shadow: 1px 2px 2px #023549;

}

.Social-links{
    margin: 2rem 3rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Indie Flower', cursive;
    color: #5B9240;
    font-size: 3rem;
    flex-direction: column;
    border-top: 2px solid #5B9240;


}

.social-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem .8rem;

}

.social{
    width: 100px;
    margin: 0px 1.5rem;
    height: auto;
}
/* NFT page CSS */



.nft_intro{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nftheader{
    text-align: center;
}

.nft_about{
    margin-top: 2rem;
    width: 75%;
}

#nfth2{
    text-align: center;
    margin-bottom: 1rem;
    color: blueviolet;
    font-weight: 700;
}

/*.nftgallery{
    width: 900px;
    display: flex;
    justify-content: space-between;
    
    margin-top: .1rem;

}*/

.nftflowerfeature{

    width: 228px;    
    height: 300px;
    border: 1px solid #5B9240;
    box-shadow: 1px 2px 2px #265011;


}

/* map css */

#map{
    
    width: 900px;
    height: 450px;
    border: 1px solid grey;
}

.map-overlay{
   
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
   align-items: flex-start;

}

.map-form{
    margin-left: 2%;
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #eff7f2;
    font-family: 'Figtree', sans-serif;
    font-size: 0.8rem;
    padding: .5%;
}

.map-h2{
    font-size: 1rem;
}

.map-aside-test, .map-aside {
    padding: 2px 0px;
}

.map-aside-test{
    color: red;
}

.map-label{
    padding: 3px 0px;
    display: flex;
}

.map-button{
    margin-top: 3px;
    padding: 3px 0px;
    display:flex;
    
    
}

#screen-warning{
    margin-top: 2px;
    font-family: 'Figtree', sans-serif;
    color: red;
    background-color: #eff7f2;
    text-align: center;
}

.aboutmap
{
    background-color: #ffffff;
    color: #020202;
    padding: 4px;
    z-index: 0;
    margin-left: 2%;
    font-family: 'Figtree', sans-serif;
    margin-right: 7%;
}


/* Modal login Form */

.form-side {
    font-family: 'Figtree', sans-serif;
    margin-left: 2%;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 6px 10px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.buttonDiv{
    display: flex;
    justify-content: space-between;
}


  .loginButton, .registerButton {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
  }


  .registerButton {
    background-color: red;

  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 18px 0 8px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 20%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    
     /* from the top and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: red;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: black;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  } 



/* Css for mobile and smaller screen sizes */

@media only screen and (max-width: 420px) {
    body{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
   
    .logo{
    max-width: 60%;
    height: auto;
    
   }

   .logo img{
    width: 65px;
   }

   

   .logotext{
    font-size: .6rem;
   }

   .navitems{
    font-size: .6rem;
    margin-right: 15%;
   }

   .links{
    padding: 0% 2%;
    font-family: 'Figtree', sans-serif;
    font-weight: 800;


}

   .recent{
    margin-top: 1em;
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #cdeebc;
    }

    .about{
    margin-top: 1em;
    width: 90%;

    }

    .feature-title, .about-title{
        font-size: 2rem;
    }

    .feature{
        padding-bottom: 0;
    }

    .flowerfeature{
    width: 90px;
    height: 100px;
    }

    .flowerinfo{
        font-size: 60%;
    }

    .flowerinfo-inside{
        font-family: 'Indie Flower', cursive;
        padding: 10%;
        
        font-size: 60%;
        background-color: #cdeebc;
        text-align: center;
        height: 100%;
    }


    .banner{
    width: 100%;
    height: 450px;
}
    .banner::before{
    
    width: 100%;
    height: 450px;

  }
    
    .welcome{
        margin-left: 10%;
        margin-right: 10%;
        /* margin-left: 25%; */
    }

    .welcome h1{
    font-size: 2.5rem;
  }

    .welcome h2{
    font-size: 1.5rem;
  }

    

    .juicer-feed.modern li.feed-item {
        background: transparent;
        border: none;
        max-width: 100%;
      }

    .Social-links{
        font-size: 2rem;

    }

    .social{
        width: 45px;
    }


    #map{
    
        width: 350px;
        height: 175px;
    }
    
    .map-overlay{
        width: auto;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .map-form{
        margin-top: 2%;
        width: auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        background-color: #eff7f2;
        font-family: 'Figtree', sans-serif;
        font-size: 0.8rem;
        padding: .5%;
    }
    .maplibregl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-right{
        font-size: .3rem;
    }

    
    .nftbanner::before{
        width: 100%;
        height: 450px;
        background-size: contain; 
        background-image: url("Campanula.jpg");
        content: "";
        position: absolute;
        opacity: 0.2;
    
    }

    .nftbanner{
        width: 100%;
        height: 450px;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
      
    .nftflowerfeature{

        width: 100px;    
        height: 131px;
        border: 1px solid #5B9240;
        box-shadow: 1px 2px 2px #265011;
        margin: 0px 2px;
    }

    .nft_intro{
       
        align-content: center;
    }

    .nftheader{
       text-align: center;
    }

    .nftheader h1{
        font-size: 1.5rem;
    }
    
    .nft_about{
        
        margin-top: 0.5rem;
        width: 80%;
    }

    .nft_about h2{
        font-size: 1.2rem;
        
    }
    
    #nfth2{
        text-align: center;
        margin-bottom: 0.3rem;
        color: blueviolet;
        font-weight: 700;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1100px) {
    body{
        height: auto;
    }


    .logo img{
        width: 90px;
       }
    

    .navitems{
        font-size: .8rem;
        margin-right: 15%;
       }

    .recent{
        margin-top: 1em;
        width: 90%;
    }
    
    .flowerfeature{
        width: 135px;
        height: 150px;
    }

    .flowerinfo-inside{
        font-size: 1.8rem;
    }

    .map-overlay{
        width: auto;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 1%;
        flex-direction: column-reverse;
        display: flex;
    
        justify-content: flex-start;
    }

    #map{
    
        width: 650px;
        height: 325px;
    }

    .map-form{
        margin-top: 3px;
        width: 75%;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 0;
        margin-bottom: 3px;


    }

    .aboutmap{
        margin-top: 1%;
    }

    .map-input{
        width: 50%;
    }
}



